body {
  background-color: #ffffff;
  margin: 0;
  color: #8a8a8a;
  font-size: 14px;
  font-family: 'Open Sans', sans-serif;
}
/*p {
  margin: 0;
}*/
h6 {
  font: 14px;
}
h5 {
  font-size: 16px;
}
h4 {
  font-size: 22px;
}
.container {
  height: 100%;
  margin: 0 auto;
}
.pull-left {
  float: left;
}
.pull-right {
  float: right
}
.reset-margin-bottom {
  margin-bottom: 0;
}
.reset-bg-color {
  background-color: transparent !important;
}
.box-big {
  padding: 78px 0;
  overflow: hidden;
}
.top-bar ul {
  padding: 0;
  margin: 0;
}
.top-bar li {
  display: inline-block;
  float: left;
  height: 68px;
}
.text-center {
  text-align: center;
}
.center-block {
  display: block;
  margin-left: auto;
  margin-right: auto
}
.top-bar {
  background-color: #f2f2f2;
  height: 68px;
  color: #7e7e7e;
}
.top-bar p {
  font-size: 12px;
  font-weight: 300;
}
.top-bar h6 {
  text-transform: uppercase;
  margin: 0;
  line-height: 16px;
  font-weight: 300;
}
.service-icon, .service {
  display: table-cell;
  vertical-align: middle;
  height: 68px;
  padding-right: 10px;

}
.service-description {
  display: table-cell;
  vertical-align: middle;
}
.service-description  p {
  margin: 0;
}
.brand {
  margin: 22px 0 22px 0;
}
.img-responsive {
  max-width: 100%;
  height: auto;
}
.sub-title {
  color: #808948;
  font-weight: 400;
}
.divider {
  border-top: 1px solid #cccccc;
}
.main-content-divider {
  border-top: 1px solid #ebebeb;
  margin: 40px 0;
}
.main-content .images {
  list-style: none;
  overflow: hidden;
  margin: 0 15% 0 30px;
  padding: 0;
}
/*.navbar {
  text-align: center;
}
.navbar ul {
  list-style: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  display: inline-block;
}
.navbar ul li {
  float: left;
  padding-top: 4px;
}*/
/*
.navbar li a {
  color: #7e7e7e;
  text-align: center;
  padding: 17px 16px;
  font-size: 14px;
  line-height: 14px;
  text-decoration: none;
  display:table-cell;
  vertical-align:middle;
}*/
/*.navbar ul li a:hover:not(.active) {color: #000000;}

.navbar ul li a.active {color: #000000;}*/

.main-content ul {
  list-style-type: square;
}
.main-content li img {
  margin-bottom: 18px;
}
.main-content h4 {
  color: #000000;
  font-weight: 400;
  margin: 0 0 39px 0;
}
.main-content .one-half {
  display: inline-block;
  float: left;
}
.main-content p {
  font-size: 14px;
  color: #8a8a8a;
}
.main-content a {
  color: #528fff;
}
.price {
  color: #7b873a;
  font-size: 40px;
}
.information-box {
  background-color: #ececec;
  overflow: hidden;
  padding: 13px 35px;
}
.information-box .service {
  padding-left: 80px;
}
.information-box h4 {
  padding-left: 36%;
  line-height: 68px;
  margin: 0;
  font-weight: normal;
}
.information-box img {
  vertical-align: middle;
}
.information-box .one-fourth {
  display: inline-block;
  float: left;
}
.information-box.reset-bg-color {
  margin: 0;
}
.information-box.reset-bg-color .links {
  list-style-type: square;
  padding-left: 40%;
}
.information-box.reset-bg-color .links li a {
  color: #8a8a8a;
  line-height: 23px;
  text-decoration: none;
}
.information-box.reset-bg-color .links li {
  line-height: 25px;
}
.checkbox {
  padding-left: 0;
  list-style: none;
}
input[type="checkbox"],
input[type="radio"] {
    display:none;
}
input[type="checkbox"] + label,
input[type="radio"] + label {
  font-size: 14px;
  font-weight: normal;
  color: color: #8a8a8a;
  cursor: pointer;
  margin: 0;
  vertical-align: middle;
  line-height: 31px;
}
input[type="checkbox"] + label::before,
input[type="radio"] + label::before {
    content: "";
    display: inline-block;
    height: 18px;
    width: 18px;
    margin: 0 15px 0 0;
    background-image: url(http://uniformjs.com/images/sprite.png);
    background-repeat: no-repeat;
    vertical-align: middle;
}
input[type="checkbox"] + label::before {
    background-position: -38px -262px;
}
input[type="radio"] + label::before {
    background-position: 0px -279px;
}
input[type="checkbox"]:checked + label::before {
    background-position: -114px -262px;
}
input[type="radio"]:checked + label::before {
    background-position: -108px -279px;
}
input[type="checkbox"]:disabled + label::before {
    background-position: -152px -262px;
}
input[type="checkbox"]:checked:disabled + label::before {
    background-position: -171px -262px;
}
input[type="radio"]:disabled + label::before {
    background-position: -144px -279px;
}
input[type="radio"]:checked:disabled + label::before {
    background-position: -162px -279px;
}

.navigation {
  width:100%;
  height: 100%;
  padding: 10px 0;
}
.navigation ul {
	position:relative;
  z-index:1000;
  list-style:none;
  -webkit-box-align: center;
  -webkit-box-pack: center;
  display: -webkit-box;
  padding:0;
  margin: 0;
  font-weight: normal;
  font-size: 14px;
}

        /* we're using the direct descendant selectors > to ONLY affect the main menu items */
        .navigation > ul > li {
        /* positioning */
            position: relative;
            float: left;
        /* styling: */
            margin-right: 10px;
        }
.navigation > ul > li > a {
    display:block;
    background-color: transparent;
    padding:8px 14px;
    text-decoration:none;
    color:#7e7e7e;

}
.navigation > ul > li > a:hover{
    background-color:transparent;
    color:#000000;
}
.navigation ul ul{

    background-color:#eaeaea;
    width:100px;
    display: block;
    position:absolute;
    z-index:100;
    height: 0;
    top: 46px;
    overflow: hidden;
    -webkit-transition: height 0.3s ease-in;
    -moz-transition: height 0.3s ease-in;
    -o-transition: height 0.3s ease-in;
    -ms-transition: height 0.3s ease-in;
    transition: height 0.3s ease-in;
}

  .navigation > ul > li:hover ul ul, .navigation > ul > li > a:hover ul ul{
      height:0;

  }
  .navigation ul ul ul{
      left:170px;
      width:170px;
  }

.navigation > ul > li:hover ul, .navigation > ul > li > a:hover ul,
.navigation ul ul li:hover > ul, .navigation ul ul li a:hover > ul{
    height:inherit;
}
.navigation ul ul li{
    background-color:#eaeaea; /* grey */
    width:100%;
    -webkit-transition: background-color 0.3s ease;
    -moz-transition: background-color 0.3s ease;
    -o-transition: background-color 0.3s ease;
    -ms-transition: background-color 0.3s ease;
    transition: background-color 0.3s ease;
}
.navigation ul ul li:hover {
    background-color:#999;
}

.navigation ul ul li a {
    display:block;
    text-decoration:none;
    margin:0 12px;
    padding:5px 0;
    color:#4c4c4c;
}
.navigation ul ul li a:hover, .navigation ul ul li:hover > a {
    color:#ffffff;
}
.navigation ul ul li:hover + li a{
    border-top:1px solid #eaeaea;
}
.navigation ul ul ul li:hover + li a{
    border: 0 !important;
}
.navigation ul ul ul li:hover + li{
    border-top:1px solid #999 !important;
}

@media (min-width: 320px) and (max-width: 767px){
  .container {
    padding: 0 15px;
  }
  .main-content .images {
    padding-left: 0;
    margin-left: 0;
    width: 100%;
  }
  .top-bar ul li {
    padding-left: 0;
  }
  .box-big {
    padding: 30px 0;
  }
  .main-content h4 {
    margin: 0 0 19px 0;
  }
  .main-content li img {
    width: 100%;
  }
  .main-content-divider {
    margin: 30px 0;
  }
  .navbar ul li {float: none;}
  .one-whole-xs {
    width: 100%;
  }
  .top-bar { height: 204px;}
  .information-box .service {
    padding-left: 0;
  }
  .information-box h4 {
    padding-left: 0;
  }
  .information-box.reset-bg-color .links {
    padding-left: 17px;
  }
}
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
  .one-third {
    width: 33.33%;
  }
  .one-whole {
    width: 100%;
  }
  .one-fourth {
    width: 25%;
    display: inline-block;
    float: left;
  }
  .one-half {
    width: 50%;
    display: inline-block;
    float: left;
  }
}
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}
@media (min-width: 1200px) {
  .container {
    width: 1268px;
  }
  .top-bar .service-icon {
    padding-left: 95px;
  }
}
